.recipe{
    width: 730px;
    padding: $spacing-s;
    background: $white;
    margin: $spacing-l 0;
    @include border-radius(25px);
    &__img{
        img{
            @include border-radius(15px);
        }
    }
    &__content{
        margin-top: $spacing-s;
    }
    &__title{
        font-size: $text-l;
        font-family: $font-young-serif;
        font-weight: 500;
        color: $stone-900;
        margin-bottom: 0;
    }
    &__time{
        background: $rose-50;
        padding: $spacing-s;
        @include border-radius(10px);
        &-list-item{
            color: $stone-600;
            &::marker {
                color: $rose-800;
              }
        }
    }
    &__ingredients{
        ul{
            list-style-type: square;
        }
        &-list-item{
            color: $brown-800;
            &::marker {
                color: $brown-800;
                font-size: 12px;
              }
        }
    }
    &__instructions{
        border-bottom: 1px solid $stone-150;
        padding-bottom: 15px;
        &-list-item{
            color: $stone-600;
            &::marker {
                color: $brown-800;
                font-weight: 600;
              }
        }
    }
    &__nutrition{
        h2{
            margin-bottom: 10px;
        }
        &-row{
            width: 100%;
            td{
                width: 50%;
                padding: 10px 15px;
                border-bottom: 1px solid $stone-150;
                color: $stone-600;
                &:last-child{
                    color: $brown-800;
                    font-weight: 700;
                }
            }
        }
    }
    @include mobile{
        width:initial;
        margin: 2rem;
        &__title{
            font-size: 22px;
        }
        &__time{
            padding: 1rem;
        }
    }
}
