@import "variables";
@import "mixins";
@import "component";

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  @include flex-center();
  padding: 0;
  margin: 0;
  background: $stone-100;
}

img {
  width: 100%;
}

figure {
  margin: 0;
}

p {
  font-size: $text-s;
  font-family: $font-outfit;
  line-height: 1.6;
  color: $stone-600;
}

h3{
  margin-top: 0;
  color: $rose-800;
}
ul{
  margin-bottom: 0;
}
h3, h4, h5, h6, li, tr{
  font-family: $font-outfit;
}

h2{
  font-size: $text-m;
  font-family:$font-young-serif;
  font-weight: 500;
  color: $brown-800;
}

@include mobile{
  h2{
    font-size: 20px;
  }
}
li{
  margin-bottom: 10px;
  padding-left: 15px;
}

table{
  width: 100%;
}